# OTP Service Environment Variables

# Service Configuration
PORT=4007
NODE_ENV=development

DB_HOST=payment_postgres
DB_PORT=5432 
DB_USERNAME=postgres
DB_PASSWORD=password
DB_NAME=payment_db 

# Redis Configuration
REDIS_URL=redis://ibanking_redis:6379

# RabbitMQ Configuration
RABBITMQ_URL=amqp://guest:guest@ibanking_rabbitmq:5672

# JWT Configuration (for auth guard)
JWT_SECRET=your-jwt-secret-key
JWT_AC_EXPIRES_IN=1h
JWT_RF_EXPIRES_IN=7d