# Notification Service Environment Variables

# Service Configuration
PORT=4003
NODE_ENV=production

# Redis Configuration
REDIS_URL=redis://ibanking_redis:6379

# SMTP Configuration for Email
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=0946604352dtn@gmail.com
SMTP_PASS="jxww zpds qppy rdoo"
# SMTP_PASS=jxww zpds qppy rdoo

# RabbitMQ Configuration
RABBITMQ_URL=amqp://guest:guest@ibanking_rabbitmq:5672

# JWT Configuration (for auth guard)
JWT_SECRET=your-jwt-secret-key
JWT_AC_EXPIRES_IN=1h
JWT_RF_EXPIRES_IN=7d